/* base / everypage */

body {
    /* Unsplash freesource image */
    background-image: url('https://images.unsplash.com/photo-1586075010923-2dd4570fb338?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
    margin: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

a {
    text-decoration: none;
}

.letter {
	transition: color 700ms;
    padding: 0 5px;
    margin: -3px;
}
.letter:nth-of-type(even) {
    border: rgb(180, 85, 74) 3px solid;
}

.letter:nth-of-type(odd) {
    border: rgb(53, 75, 56) 3px solid;
}

h2 {
    color: rgb(180, 85, 74);
    margin-bottom: 5px;
}

h3 {
    color:rgb(53, 75, 56);
    margin: auto 0 8px 0;
}

.other_page_link {
    color: rgb(180, 85, 74);
}

.other_page_link:hover {
    color: rgb(53, 75, 56);
}

/* Homepage / list of users */

ol {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    margin-left: -20px;
}

ul {
    list-style: none;
    margin-left: -20px;
}

.list {
    color: rgb(53, 75, 56);
}

.list:hover {
    color: rgb(180, 85, 74);
}

/* Add a new user/post pages */

form {
    margin-bottom: 10px;
}

input {
    background-color: rgb(180, 85, 74);
    color: azure;
    margin: 10px;
}

#input3 {
    width: 300px;
}

::placeholder {
    color: azure;
    opacity: 0.5;
}

button {
    margin: 10px;
    background-color: rgb(180, 85, 74);
    color: rgba(240, 255, 255, 0.5);
}

button:hover {
    color: azure;
}

/* User details page */

.profile_img {
    width: 250px;
}

.edit_delete {
    text-align: center;
    margin: 0 4px 0 4px;
}

img {
    margin-top: auto;
    width: 300px;
}

.user_details_info {
    text-align: center;
}

/* Flash messaging */

.flash {
    color: azure;
    font-weight: 800;
    background-color:rgb(53, 75, 56);
    width: 250px;
    text-align: center;
}

/* Post details */

blockquote, p {
    color:rgb(53, 75, 56);
}

#add_post_form {
    color:rgb(53, 75, 56);
}

#postdate {
    font-size: 12px;
    margin-top: -5px;
}

.postbox {
    border: 1px rgb(180, 85, 74) dotted;
    margin: auto auto 10px auto;
    padding: 0 10px;
}
.postbox h2 {
    margin: 10px;
}

.single_postbox {
    border-top: 1px rgb(180, 85, 74) solid;
    border-bottom: 1px rgb(180, 85, 74) solid;
    margin: auto auto 10px auto;
    padding: 0 10px;
}
.single_postbox h2 {
    margin-top: 10px;
}

.username:hover {
    color:rgb(180, 85, 74);
}