<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{%block title%} Homepage {%endblock%}</title>
</head>
<body>

    <h1>
        <span class="letter">B</span>
        <span class="letter">L</span>
        <span class="letter">O</span>
        <span class="letter">G</span>
        <span class="letter">L</span>
        <span class="letter">Y</span>
    </h1>

    {% block content %}

    <h2>All users:</h2>
    <ul>
        {% for user in user_name %}
        <li><a href="/{{user.id}}" class="list">{{user.user_name}} </a></li>
        {% endfor%}
    </ul>
    <a href="/add_user" class='other_page_link'>Add a new user</a>
    
    
    <h2>Recent posts:</h2>
    <ul>
        {% for post in posts %}
        <li><a href="/post_details/{{post.id}}" class="list">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <a href="/all_posts" class='other_page_link'>View all posts</a>
    
    
    <h2>Tags:</h2>
    <ul>
        {% for t in tags %}
        <li><a href="/tags/{{t.id}}" class="list">{{t.name}} </a></li>
        {% endfor%}
    </ul>
    <a href="/tags/new" class='other_page_link'>Create a new tag</a>

    {% endblock %}

    <script src="/static/app.js"></script>
</body>
</html>