{% extends 'base.html' %} 
{% block title %} Edit Your Post {% endblock %} 

{% block content %}

<h2>Edit your post</h2>

<section class="messages">
    {% for category, msg in get_flashed_messages(with_categories=true) %}
        <p class="flash">{{msg}}</p>
    {% endfor %}
</section>

<form method="POST" id="add_post_form">
    Title: <input id='input3' type="text" name='title' value="{{post.title}}">
    <br>    
    Content: <input id='input3' type="text" name='content' value="{{post.content}}">
    <br>

    <div class="assign_post_tags">
        <p class="assign_tag">Assign tags:</p>
            {% for tag in tags %}
            <div>
                <input class="checkbox"
                type="checkbox"
                value="{{tag.id}}"
                id="tag_{{tag.id}}"
                {% if tag in post.tags %}checked{% endif %}
                name="tags">
                <label class="form-check-label" for="tag_{{tag.id}}">
                    <p>{{tag.name}}</p>
                </label>
            </div>
            {% endfor %}
    </div>

    <button class="Add_btn">Submit changes</button>
</form>

<a href="/{{user.id}}/user_posts" class='other_page_link'>Back to {{user.user_name}}'s posts</a>
<br>
<a href="/" class='other_page_link'>Back to homepage</a>

{% endblock %}

