{% extends 'base.html' %} 
{% block title %} {{user.user_name}}'s posts {% endblock %} 

{% block content %}

<div class="user_details_info">
    <h2>{{user.user_name}}'s posts</h2>
    <a href="/{{user.id}}/add_post" class='other_page_link'>Add a post</a>
    <br>
    <a href="/{{user.id}}" class='other_page_link'>Back to profile</a>
    <br>
    <a href="/" class='other_page_link'>Back to homepage</a>

<ol>
    {% for p in post %}
    <div class="postbox">
        <li>
        <h2>{{p.title}}</h2>
        <p id="postdate">Posted: {{p.display_date}}</p>

        {% if p.tags %}
        {% for tag in p.tags %}
            <a href="/tags/{{ tag.id }}"><i class="post_tags">{{tag.name}}</i></a>
        {% endfor %}
        {% endif %}

        <blockquote>{{p.content}}</blockquote>
    
        <form>
            <button formmethod='GET'
            formaction="/post_details/{{p.id}}/edit_post"
            class='edit_delete'>
            Edit
            </button>

            <button formmethod="POST"
            formaction="/post_details/{{p.id}}/delete"
            class="edit_delete">
            Delete
            </button>
        </form>
        
        </li>
    </div>
    {% endfor %}
</ol>

{% endblock %} 